spring.datasource.url=
spring.datasource.username=
spring.datasource.password=

spring.jpa.properties.hibernate.use_nationalized_character_data=true

spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto=create

spring.data.web.pageable.default-page-size=10
spring.data.web.pageable.one-indexed-parameters=true

spring.mvc.static-path-pattern=/public/**
spring.web.resources.static-locations=file:/public
spring.servlet.multipart.max-file-size=10MB

spring.output.ansi.enabled=always


jwt.secret=

# in second
# 1 hour
jwt.short-expires-time=3600 
# 30 days
jwt.long-expires-time=2592000 

redis.host=
redis.port=

open-api.app-version=
open-api.production-server-url=
